body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('/static/images/fitness.jpg') no-repeat center center/cover;
    color: rgb(249, 246, 246);
    text-align: center;
    height: 100vh;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.buttons {
    margin-top: 20px;
}

.btn {
    text-decoration: none;
    padding: 12px 24px;
    margin: 10px;
    background: #ff6600;
    color: white;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background 0.3s;
}

.btn:hover {
    background: #cc5200;
}


