<!DOCTYPE html>
<html>
<head>
    <title>FitLevel - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="hero">
        <h1>Welcome to FitLevel</h1>
        <p>Track your workouts. Improve your body. Level up.</p>
        <div class="buttons">
            <a href="/register" class="btn">Register</a>
            <a href="/login" class="btn">Login</a>
        </div>
    </div>
   <footer>
    <p>© 2025 FitLevel | Connect with us:</p>
    <a href="https://instagram.com/your_username" target="_blank">Instagram</a> |
    <a href="https://github.com/your_username" target="_blank">GitHub</a>
</footer>
</body>
</html>
